#root {
  text-align: center;
}

/* *{
  border: 1px solid red;
} */

.card {
  padding: 2em;
}

.articleBody {
  text-align: left;
}

.commentCard {
  border: 1px solid black;
  margin-bottom: 20px;
}

.singleComment {
  text-align: left;
  margin-bottom: 20px;
}

.votingButtons {
  margin-bottom: 20px;
}